.header {
    padding-top: 3em;
}

button {
    margin-right: 1em;
}

button.delete {
    background-color: #ff3939;
    color: white;
}

button.delete:hover {
    background-color: #ED0909;
}

.notice {
    background-color: #fff0a0;
    padding: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

.nomargin {
    margin-bottom: 0px;
}
