<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MailChimp Pending Subcriber Management</title>
    <meta name="description" content="">
    <meta name="author" content="Cory Zue">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/site.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <section class="header">
            <h2>MailChimp List Helper</h2>
            <h5>A tool to help you manage pending subscribers in MailChimp</h5>
        </section>
    </div>
    <div class="row">
        <div class="six columns">
            <h4>What can I do with it?</h4>
            <p>See everyone who signed up for your email list but never confirmed their email address
               and manually confirm them or remove them.</p>
        </div>
        <div class="six columns">
            <h4>Is this allowed?</h4>
            <p>If used properly, I don't see why not, but I'm not a lawyer or an expert so use this at your own risk.</p>
            <p>
                MailChimp does <a href="http://kb.mailchimp.com/accounts/compliance-reviews/why-accounts-get-suspended">suspend accounts</a>
                that violate their <a href="https://mailchimp.com/legal/terms/">terms</a> or <a href="https://mailchimp.com/legal/acceptable_use/">acceptable use policy</a>
                so don't do that!
            </p>
        </div>
    </div>
    <div class="row">
        <h3>Get started</h3>
        <p>
            Don't worry - nothing you enter or see here will be saved anywhere, but if you're paranoid you can also
            <a href="https://github.com/czue/mailchimp-list-manager">run this tool locally</a>.
        </p>
        <form id="credentials" method="post" action="/api/lists/">
            <div class="row">
                <div class="six columns">
                    <label for="api-key">Your MailChimp API key <a href="http://kb.mailchimp.com/integrations/api-integrations/about-api-keys" target="_blank">?</a></label>
                    <input name="api-key" class="u-full-width" type="password" placeholder="fd67d4fe19ec11e7a33e3c970e7be43b-us12" id="api-key" value="">
                </div>
            </div>
            <input id="submit-credentials" class="button-primary" type="submit" value="Load My Lists">
        </form>
    </div>
    <div class="row" id="lists-row" style="display: none;">
        <form id="lists" method="post" action="/api/members/">
            <div class="row">
                <div class="six columns">
                    <label for="listInput">Choose a list</label>
                    <select class="u-full-width" name='list' id="listInput"></select>
                </div>
            </div>
            <input type="hidden" name="api-key">
            <input id="submit-list" class="button-primary" type="submit" value="Load Pending Members">
        </form>
    </div>
    <div class="row" id="members-row" style="display: none;">
        <table id="members" class="u-full-width">
          <thead>
            <tr>
              <th>Email</th>
              <th>Date Signed Up</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
    <div class="row" id="error-row" style="display: none;">
        <p><strong>
            Oops, something went wrong! Are you sure you entered the right <a href="http://kb.mailchimp.com/integrations/api-integrations/about-api-keys" target="_blank">API Key</a>?
        </strong></p>
    </div>
</div>
<script>
    var apiKey;  // globals
    // debug only
    apiKey = "{{ api_key }}";

    function genericError() {
        $("#error-row").show();
    }

    function loadLists(lists) {
        var listOptions = $('#listInput');
        $.each(lists.lists, function() {
            listOptions.append($("<option />").val(this.id).text(this.name));
        });
        // populate the API information on the form as well
        $('form#lists').find('input[name="api-key"]').val(apiKey);
        $('#lists-row').show();
    }

    function loadMembers(members) {
        var membersTableBody = $('#members').find('tbody');
        $.each(members.members, function() {
            debugger;
            membersTableBody.append(
                $("<tr />").attr('id', this.id).append(
                    $("<td />").text(this.email_address)
                ).append(
                    $("<td />").text(this.timestamp_signup)
                ).append(
                    $("<td />").text(this.status)
                )
            );
        });
        $('#members-row').show();
    }

    $(function () {
        // hook up forms ajax handling
        var formMapping = {
            'credentials': loadLists,
            'lists': loadMembers
        };
        $('form').submit(function (e) {
            $("#error-row").hide();  // hide existing errors on submit
            var form = $(this);
            apiKey = apiKey || form.find('input[name="api-key"]').val();
            $.ajax({
                 url: form.attr('action'),
                 type: form.attr('method'),
                 data: form.serialize(), // data to be submitted
                 success: formMapping[form.attr('id')],
                 error: genericError,
            });
            e.preventDefault();
        });
    });
</script>
</body>
</html>
